<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'inventory/initial_style.css' %}">

    <link href="https://fonts.googleapis.com/css2?
    family=Roboto:wght@400;700&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <title>RestManagement</title>
</head>




<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm margin">
                <h1>RestManagement</h1>
                <p>- Create and manage your own inventory <br> <br>
                    - Personalize the menu with your items, their prices and the required ingredients <br> <br>
                    - Record all the purchases at your restaurant</p>
                <a href="{% url 'signup' %}"><button type="button" class="my_button yellow">Sign Up</button></a>
                <a href="{% url 'login' %}"><button type="button" class="my_button white">Login</button></a>
            </div>
        </div>
    </div>
</section>


<section class="further">
    <div class="container">
        <div class="row">

            <div class="card" style="width: 20rem;">
                <div class="card-body"> <br>
                    <h5 class="card-title">Your Personal Assistant</h5>
                    <p class="card-text">Records each purchase in the restaurant and modifies the inventory based on
                        the ingredients used, providing you with instant access to your updated purchase log and inventory.</p>
                </div>
            </div>


            <div class="card" style="width: 20rem;">
                <div class="card-body"> <br>
                    <h5 class="card-title">Inventory Management</h5>
                    <p class="card-text">Live monitoring of your restaurant's inventory to maintain a sufficient supply
                        and reduce waste. <br> A vital feature that would help you reduce costs.</p>
                </div>
            </div>

            <div class="card" style="width: 20rem;">
                <div class="card-body"> <br>
                    <h5 class="card-title">Real-Time Performance Report</h5>
                    <p class="card-text">Provides accurate financial data from your inventory and purchase log,
                        enabling you to make decisions that help you reduce costs and increase profits.</p>
                </div>
            </div>
        </div>
    </div>
</section>


</body>

</html>