{% extends './base.html' %}

{% block title %} Menu {% endblock %}

{% block body %}


<div class='menu_container font_check topper'>
  <h2 id='menu'> Menu </h2>
  {% for item in menu_items %}
  <div class='menu_item'>
    <div class="menu-item-header">
      <div class="menu-item-title">{{ item.title }}</div>
      <div class="menu-item-price">${{ item.price|stringformat:".2f" }}</div>
    </div>
    <ul class="menu-item-ingredients ingredient_font">
      {% for recipe_requirement in item.reciperequirement_set.all %}
      <li>{{ recipe_requirement.quantity_Required }} {{recipe_requirement.ingredient.unit }}
        {{ recipe_requirement.ingredient.name }}</li>
      {% endfor %}
    </ul>
    <a href="{% url 'menu_delete' item.id %}"><button type="button" class="btn btn-primary btn-sm">Delete</button></a>
  </div>
  {% endfor %}

  <a href="{% url 'menu_add' %}"><button type="button" class="btn btn-primary btn-lg"
      style="background:#0047AB; border:0.5px solid black">Add an Item</button></a>
    <p></p>
  <a href="{% url 'add_req_ingredients' %}"><button type="button" class="btn btn-primary btn-lg"
      style="background:#3D8B37; border:0.5px solid black">Add Recipe Requirement</button></a>
  <p></p>
</div>

{% endblock %}